
.status-container {
  width: fit-content;
  margin:  0 auto;
  text-align: center;
  margin-top: 180px;
}

.status-container h1 {
  color: white;
}

.status-container .status {
  background-color: rgb(255, 251, 184);
  text-align: center;
  width: fit-content;
  padding: 8px 60px;
  border-radius: 16px;
}